name: Build

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    name: Build and test with Milvus ${{ matrix.milvus_version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        milvus_version: [v2.3.22, v2.4.23, v2.5.20, v2.6.4]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Setup .NET SDKs
        uses: actions/setup-dotnet@v5

      - name: Test
        run: dotnet test --logger "GitHubActions;report-warnings=false"
        env:
          MILVUS_IMAGE: milvusdb/milvus:${{ matrix.milvus_version }}
