name: Build

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        milvus_version: [v2.5.6]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Setup .NET SDKs
        uses: actions/setup-dotnet@v5

      - name: Test
        run: dotnet test --logger "GitHubActions;report-warnings=false"
        env:
          MILVUS_IMAGE: milvusdb/milvus:${{ matrix.milvus_version }}

      - name: Pack
        run: dotnet pack -c Release -o Artifacts

      - name: Upload artifacts (nupkg)
        uses: actions/upload-artifact@v5
        with:
          name: nupkgs
          path: |
            Artifacts/*.nupkg
            Artifacts/*.snupkg

